<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Time Sheet</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>

        <div class="container" id="root">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Navbar</a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <div>
                <router-view></router-view>
            </div>

        </div>
        <template id="home">
            <div class="container">
                <h1>Edit Timesheet</h1>
                <div class="row">
                    <label>Select Month then fill your time for that month : </label>
                    <select v-model="month" lass="form-select" id="month" @click="daysInMonth(month)">
                        <option disabled value="">Please select one</option>
                        <option v-for="(month, i) in months" v-bind:value="i">{{month}}</option>

                    </select>

                </div>
                <div id="app">
                    <table class="table table-condensed" v-for="week in weeks">
                        <thead>

                            <tr>
                                <th>Date</th>
                                <th>Number of hours</th>
                                <th>Absent</th>
                                <!--
                                <th>Deductions</th>
                                <th>Vacation</th>
                                <th>Personal</th>
                                <th>Unpaid</th>
                                <th>Total</th>
                                -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="day in days">
                                <td>
                                    <input class="form-control" type="date" v-model="day.date" />
                                </td>



                                <td class="personal">
                                    <input class="form-control" type="number" min="0" max="8" step=".5" v-model="day.numOfHours" />
                                </td>
                                <td class="unpaid">
                                    <input class="form-control" type="text" v-model="day.absent" />
                                </td>

                            </tr>

                        </tbody>
                    </table>
                    <div class="col-md-12">
                        <!--       <h3 style="text-align:right">Overtime: 2 Hours</h3> -->
                        <button class="btn btn-success" id="submit" @click.prevent="postTimeSheet">Submit</button>
                        <!--           <pre>{{ $data | json }}</pre> -->
                    </div>
                </div>
        </template>
        <template id="addUser">
            <div>
                <form>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name" v-model="firstName">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name" v-model="lastName">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="date" class="form-control" placeholder="First name" v-model="dob">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name" v-model="jobTitle">
                        </div>
                    </div>
                    <button class="btn btn-primary" @click.prevent="addUser">Save</button>
                </form>
            </div>
        </template>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script>

const addUser = Vue.component('app-admin1', {

    data: function () {
        return {

            firstName: '',
            lastName: '',
            jobTitle: '',
            id: '',
            dob: '',

        }
    },
    mounted() {
        this.fetchCategories();
    },
    methods: {
        addUser() {
            const fd = new FormData();
            fd.append('firstName', this.firstName);
            fd.append('lastName', this.lastName);
            fd.append('jobTitle', this.jobTitle);
            fd.append('id', this.id);
            fd.append('dob', this.dob);
            axios.post("/save", fd, {
                onUploadProgress: uploadEvent => {
                    console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100 + '%'))
                }
            }, {
                // body : this.input.body,
                //title : this.input.title
            }).then(function (response) {

            }.bind(this))
            this.clear()
        },
        clear() {
            this.firstName = '';
            this.lastName = '';
            this.jobTitle = '';
            this.id = '';
            this.dob = '';
        }
    },
    template: '#addUser'
})

const home = Vue.component('app-admin1', {

    data: function () {
        return {

            months: '',
            month: '',
            numOfDays: '',

            days: [],
            numberOfHours: '',
            absent: '',
            weeks: [{
                    totalHours: 0,
                    totalDeductions: 0,
                    totalVacation: 0,
                    totalPersonal: 0,
                    totalUnpaid: 0,
                    days: [{
                            date: "2016-01-02",
                            in: "08:30",
                            out: "17:00",
                            deductions: .5,
                            vacation: 0,
                            personal: 0,
                            unpaid: 0,
                            dailyTotal: 0
                        }, {
                            date: "2016-01-02",
                            in: "08:30",
                            out: "17:00",
                            deductions: .5,
                            vacation: 0,
                            personal: 0,
                            unpaid: 0,
                            dailyTotal: 1
                        }, {
                            date: "2016-01-03",
                            in: "08:30",
                            out: "17:00",
                            deductions: .5,
                            vacation: 0,
                            personal: 0,
                            unpaid: 0,
                            dailyTotal: 2
                        }, {
                            date: "2016-01-04",
                            in: "08:30",
                            out: "17:00",
                            deductions: .5,
                            vacation: 0,
                            personal: 0,
                            unpaid: 0,
                            dailyTotal: 3
                        }, {
                            date: "2016-01-05",
                            in: "08:30",
                            out: "17:00",
                            deductions: .5,
                            vacation: 0,
                            personal: 0,
                            unpaid: 0,
                            dailyTotal: 4
                        }, {
                            date: "",
                            in: "",
                            out: "",
                            deductions: 0,
                            vacation: 0,
                            personal: 0,
                            unpaid: 0,
                            dailyTotal: 0
                        }, {
                            date: "",
                            in: "",
                            out: "",
                            deductions: 0,
                            vacation: 0,
                            personal: 0,
                            unpaid: 0,
                            dailyTotal: 0
                        }]
                }, ]
        }
    },
    mounted() {
        this.getMonths()
    },
    methods: {
        postTimeSheet() {
            const fd = new FormData();
            //fd.append('firstName', this.firstName);
            //fd.append('lastName', this.lastName);
            //fd.append('jobTitle', this.jobTitle);
            fd.append('month', this.month);
            fd.append('times', this.days);
            axios.post("/posttimesheet", fd, {
                onUploadProgress: uploadEvent => {
                    console.log('Upload Progress: ' + Math.round(uploadEvent.loaded / uploadEvent.total * 100 + '%'))
                }
            }, {
                // body : this.input.body,
                //title : this.input.title
            }).then(function (response) {

            }.bind(this))
        },
        getMonths() {
            this.months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        },
        daysInMonth(month) {
            this.numOfDays = new Date(2021, month, 0).getDate();
            var currentMonth = month + 1
            for (let i = 0; i < this.numOfDays; i++) {
                var currentDay = i + 1;
                if (currentDay < 10 && currentMonth < 10) {
                    this.days[i] = {

                        date: "2021-0" + currentMonth + "-0" + currentDay,
                        numberOfHours: 0,
                        absent: ''
                    }

                }
                else if (currentDay < 10 && currentMonth >= 10){
                    this.days[i] = {

                    date: "2021-" + currentMonth + "-0" + currentDay,
                    numberOfHours: 0,
                    absent: ''
                }
                
                }
                else if (currentDay => 10 && currentMonth < 10){
                    this.days[i] = {

                    date: "2021-0" + currentMonth + "-" + currentDay,
                    numberOfHours: 0,
                    absent: ''
                }
                
                }
                else if (currentday => 10 && currentMonth >= 10){
                    this.days[i] = {

                    date: "2021-" + currentMonth + "-" + currentDay,
                    numberOfHours: 0,
                    absent: ''
                }
                
                }
                
                else{
                this.days[i] = {

                    date: "2021-" + currentMonth + "-" + currentDay,
                    numberOfHours: 0,
                    absent: ''
                }
            }


            }
            console.log(this.days)
        },

        dailyTotal: function (day) {
            var start = moment(day.date + " " + day.in);
            var end = moment(day.date + " " + day.out);
            var ded = day.deductions;
            var vacation = day.vacation;
            var personal = day.personal;
            var unpaid = day.unpaid;

            if (day.date == "" || day.in == "" || day.out == "")
            {
                day.deductions = 0;
                return 0;
            }

            var dailyTotal = (end.diff(start, 'minutes') / 60) - ded;

            dailyTotal += parseFloat(vacation);

            dailyTotal += parseFloat(personal);

            dailyTotal += parseFloat(unpaid);

            day.dailyTotal = dailyTotal.toFixed(2);

            return dailyTotal.toFixed(2);
        },

        /***********************************************
         * Calculuate weekly Deductions(lunch, etc...)
         ***********************************************/
        calcWeekDeductions: function (week) {
            var weekDeductions = 0;

            for (var i = 0; i < week.days.length; i++) {
                weekDeductions += parseFloat(week.days[i].deductions);
            }

            week.totalDeductions = weekDeductions;

            return weekDeductions;
        },

        /***********************************************
         * Calculuate weekly Vacation
         ***********************************************/
        calcWeekVacation: function (week) {
            var weekVacation = 0;

            for (var i = 0; i < week.days.length; i++) {
                weekVacation += parseFloat(week.days[i].vacation);
            }

            week.totalVacation = weekVacation;

            return weekVacation;
        },

        /***********************************************
         * Calculuate weekly Personal
         ***********************************************/
        calcWeekPersonal: function (week) {
            var weekPersonal = 0;

            for (var i = 0; i < week.days.length; i++) {
                weekPersonal += parseFloat(week.days[i].personal);
            }

            week.totalPersonal = weekPersonal;

            return weekPersonal;
        },

        /***********************************************
         * Calculuate weekly Unpaid
         ***********************************************/
        calcWeekUnpaid: function (week) {
            var weekUnpaid = 0;

            for (var i = 0; i < week.days.length; i++) {
                weekUnpaid += parseFloat(week.days[i].unpaid);
            }

            week.totalUnpaid = weekUnpaid;

            return weekUnpaid;
        },

        /***********************************************
         * Calculuate weekly Hours
         ***********************************************/
        calcWeekHours: function (week) {
            var weekHours = 0;

            for (var i = 0; i < week.days.length; i++) {
                weekHours += parseFloat(week.days[i].dailyTotal);
            }

            week.totalHours = weekHours;

            return weekHours.toFixed(2);
        },

        /***********************************************
         * Calcuate pay period total hours
         ***********************************************/
        periodTotalHours: function () {
            var weekTotal = 0;

            console.log(this.weeks.length)
            for (var i = 0; i < weeks.length; i++) {

            }

            return weekTotal;
        }
    },
    template: '#home'
});
/***********************************************
 * Other functions
 ***********************************************/
$('#submit').click(function () {
    swal({
        title: "Are you sure?",
        text: "You will be unable to edit the timesheet once it has been submitted.",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5cb85c",
        confirmButtonText: "Yes, submit my timesheet.",
        cancelButtonText: "No, cancel.",
        closeOnConfirm: false,
        closeOnCancel: false
    }, function (isConfirm) {
        if (isConfirm) {
            swal("Submitted!", "Your timesheet has been successfully submitted", "success");
        } else {
            swal("Submission Cancelled", "Submission cancelled. You can still edit your timesheet!", "error");
        }
    });
});
$('#save').click(function () {
    swal("Timesheet Saved!", "", "success");
});
$('#delete').click(function () {
    swal({
        title: "Are you sure?",
        text: "Are you sure you want to delete this timesheet?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d9534f",
        confirmButtonText: "Yes, delete this timesheet.",
        cancelButtonText: "No, cancel.",
        closeOnConfirm: false,
        closeOnCancel: false
    }, function (isConfirm) {
        if (isConfirm) {
            swal("Deleted!", "Your timesheet has been successfully deleted!", "success");
        } else {
            swal("Deletion Cancelled", "Your timesheet has not been deleted", "error");
        }
    });
});
const routes = [
    {path: '/', name: 'home', component: home},
    {path: '/addUser', component: addUser},
];
const router = new VueRouter({

    routes, // short for `routes: routes`
    //mode: 'history'
});
var vm = new Vue({
    el: '#root',
    data: {
        student: '',
        studentId: '',
        categories: []
    },
    router,
    created() {
        this.$router.push({
            name: 'home',
        });
    },
    methods: {
        addUser(user) {
            this.$router.push({
                name: 'addUser',
                params: {
                    user: user // or anything you want
                }

            });
        },
        loadDiscipline(update) {
            this.$router.push({
                name: 'discipline',
                params: {
                    update: update // or anything you want
                }

            });
        },
        loadEvent(update) {
            this.$router.push({
                name: 'event',
                params: {
                    update: update // or anything you want
                }

            });
        },
        loadRecord(update) {
            this.$router.push({
                name: 'record',
                params: {
                    update: update // or anything you want
                }

            });
        },
        loadVitals(update) {
            this.$router.push({
                name: 'vital',
                params: {
                    update: update // or anything you want
                }

            });
        },
        loadAD(update) {
            this.$router.push({
                name: 'ad',
                params: {
                    update: update // or anything you want
                }
            });
        },
        loadView(name) {
            this.$router.push({
                name: name

            });
        }


    }

});
        </script>
    </body>
</html>
